@media screen and (max-width: 1366px) {
    .team .container {
        padding: 0 15px;
    }
}
@media screen and (max-width: 1024px) {
    .team .items {
        padding: 0 15px;
    }
    .team__items {
        flex-direction: column;
        align-items: center;
    }
}
@media screen and (max-width: 768px) {
    .container {
        padding: 0 15px;
    }
    .services__items {
        flex-direction: column;
        align-items: center;
    }
    .header__btn {
        width: 160px;
        height: 40px;
    }
}
@media screen and (max-width: 400px) {
    .header__title {
        font-size: 36px;
    }
}