/* General */
:root {
    --white-color: #fff;
    --grey-color: #9CA3AF;
    --black-color: #000000;

    --font-family-montserrat: 'Montserrat', sans-serif;
}
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    margin: 0;
    font-family: var(--font-family-montserrat);
}
.container {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    padding: 0 156px;
}
/* Header */
.header {
    background-color: #4694DC;
    min-height: 500px;
    padding-top: 82px;
    padding-bottom: 82px;
    color: var(--white-color);
}
.header__title {
    font-size: 56px;
    font-weight: 600;
    margin-bottom: 38px;
}
.header__text {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    max-width: 390px;
    margin-bottom: 45px;
}
.header__btn {
    width: 194px;
    height: 60px;
    font-family: var(--font-family-montserrat);
    font-size: 16px;
    font-weight: 400;
    border: none;
}
/* Block */
.blcok {
    text-align: center;
    margin-bottom: 118px;
}
.block__title {
    font-weight: 600;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 3.3px;
    margin-bottom: 25px;
}
.block__text {
    font-size: 16px;
    letter-spacing: 0.7px;
    line-height: 24px;
    font-weight: 400;
    color: var(--grey-color);
    max-width: 465px;
    margin: 0 auto;
}
/* Services */
.services {
    padding: 88px 0 166px;
}
.services__items {
    display: flex;
    gap: 24px;
    justify-content: space-between;
    max-width: 888px;
    margin: 0 auto;
}
.item {
    max-width: 280px;
    width: 100%;
    height: 120px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.services__img {
    align-self: center;
}
.item__title {
    font-size: 16px;
    font-weight: 400;
    color: var(--grey-color);
}
/* Team */
.team__items {
}
.team__item {
}
.team__img {
}
.team__block {
}
.team__title {
}
.team__text {
}
